area/comlog*
player/player.lst
area/shutdown.txt
data/notes.dat
area/bugs.txt
banned.lst
*.o
*.core
*.gcno
*.gcov
src/envy
src/tests/test.envy
src/CUnitAutomated-*.xml
nohup.out
.vagrant/*
/Makefile
inspiration/
environment
