area/comlog*
player/player.lst
area/shutdown.txt
data/notes.dat
area/bugs.txt
banned.lst
*.o
*.core
*.gcno
*.gcov
*.gcda
bin/envy
bin/test.envy
CUnitAutomated-*.xml
nohup.out
.vagrant/*
inspiration/
.env
*.todo
.imdone/
